<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Anitracker</title>
		<meta name="description" content="Cross platform anime tracker for Anilist">
		<meta name="author" content="Miguel A. Arilla">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="./assets/styles.css">
		<link rel="manifest" href="/manifest.webmanifest">
		<script type="module" src="./app/main.js"></script>
	</head>
	<body>
		<div id="app">
			<dialog :open="!userId">
				<p>Get your list from <a :href="authUrl" rel="noopener">Anilist</a></p>
			</dialog>
			<main v-if="userId">
				<anime v-for="entry in list" :entry="entry" />
			</main>
		</div>
	</body>
	<script src="https://unpkg.com/vue"></script>
</html>
